<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <center>
      <br>
        <textarea rows="13" cols="100" id="code" name="code"></textarea>
        <br>
        <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="30%" height="500px"></iframe>
        <br>
        <textarea rows="13" cols="100" id="code" name="code"></textarea>
        <br>
        Language : <select name="lang">
          <option value="C">C</option>
        </select>
        <br />
        <br>
        <input type="submit" value="Compile" name="submit" />
        <input type="submit" value="Submit" name="submit" />
        <!-- <br />
        <h1>Resulte :</h1><br>
        <h1><%= Resulte1 %></h1>
        
        <img src=<%= Resulte2 %> width="10%" height="10%"> -->
      </form>
    </center>

 
    
  </body>
</html>

